/* MEDIA QUERY */

@media only screen and (min-width: 992px) {
  .container {
    padding: 0;
    margin: auto;
    width: 80%;
  }

  #showcase-head-1 .container {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.9rem;
  }

  .card {
    transition: box-shadow 0.2s ease;
    border-radius: 10px;
  }

  .card:hover {
    box-shadow: 1px 1px 50px #bbbbbb;
  }

  /* Right */

  #right .input-group {
    border-bottom: 1px solid #000;
    padding: 3rem 0 1.2rem 0;
  }

  #right .input-group .input-group-text {
    padding: 0;
    border: none;
    background: none;
  }

  #right .input-group .input-group-prepend i,
  #right .input-group input::placeholder,
  #right .input-group .input-group-append i {
    color: #000;
  }

  #right .input-group input {
    border: none;
    width: 75%;
  }

  #right .input-group input:focus {
    outline: none;
  }

  #right .input-group .input-group-prepend i {
    padding-right: 1.1rem;
  }
}

@media only screen and (max-width: 991px) {
  html,
  body {
    overflow: auto;
    font-size: 12px;
  }

  .container {
    padding: 0;
    margin: auto;
    width: 90%;
  }

  #header .black-overlay .container {
    padding: 2rem 0 5rem 0;
  }

  #card-1,
  #card-2,
  #card-3,
  #card-4 {
    box-shadow: 10px 10px 20px #bbbbbb;
    padding: 1rem 0;
    background-color: #fff;
    margin: 1.5rem 0;
  }

  #showcase-2 #card-1 .jumbo-1 {
    background: url('../images/showcase-1.png') no-repeat center center/cover;
    height: 30vh;
    margin-bottom: 1rem;
  }
  #showcase-2 #card-2 .jumbo-2 {
    background: url('../images/showcase-2.png') no-repeat center center/cover;
    height: 30vh;
    margin-bottom: 1rem;
  }
  #showcase-2 #card-3 .jumbo-3 {
    background: url('../images/showcase-3.png') no-repeat center center/cover;
    height: 30vh;
    margin-bottom: 1rem;
  }
  #showcase-2 #card-4 .jumbo-4 {
    background-color: #fff;
  }
}
